.container {
  max-width: 960px;
  margin: 0 auto;
}

.parallaxOne {
  background-image: url("../images/beertaps.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}

.plax:last-child {
  margin-bottom: 0;
}

.content {
    background: none repeat scroll 0 0 black;
    padding: 42px 0;

}


h2{
	color:#FFF;
}

h1{
color:#FFF;
}

p{
color:#FFF;
}
