
h1 {
  font-family: 'Suez One', serif;
  font-color: #AA6C39;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

input {
  color: white;
}


.slot_machine {
  display: flex;
  justify-content: center;
  width: 690px;
  height: 335px;
  background-image: url("../assets/slot-machine.png");
  margin: 0 auto;
  border: #D39639 solid 10px;
  border-radius: 20px;

}

form {
 display: flex;
 justify-content: flex-start;
 flex-direction: column;

}

select {
  background-color: inherit;
  border: none;
  color: white;
  text-shadow: 2px 2px 8px black;
  font-family: fantasy;
  font-size: 18px;
}

option {
  text-align: center;
}

label {
  display: inline;
}

li {
  display: flex;
  justify-content: space-around;
}

input {

}

.submit_button {
  margin: 0 auto;
  width: 20%;
  padding-top: .7em;
}

#newUl {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;
}

#newTypeUl {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;
}

.slot_title {
  color: black;
  font-size: 40;
  font-weight: bolder;
  font-family: fantasy;
  padding: 1em 1em 1em 0;
}

.slot_styling {
  color: black;
  font-size: 40;
  font-weight: bold;
  font-family: fantasy;
  padding: 1em 1em 5% 0;
}

.img_slot_styling {
 padding: 1em 1em 1em 0;
 display: flex;
 justify-content: center;
}

input {
  /*border-radius: 5px;*/
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: none;
  margin-top: .2em;
  margin-left: 4em;
}


fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
   /*background-image: url("../assets/img_fjords.jpg");*/
}

#slot1 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}

#slot2 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}

#slot3 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}


#beer_button {
    background: url("../assets/button.png") no-repeat;
    text-decoration: none;
}

#beer_button:focus{
  outline: none;

}

#beer_button:active{
   width: 200px;
}

.swing li {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.swing li.show {
  opacity: 1;
  transform: none;
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
  width: 188px;
}

/*.show {
  opacity: 1;
  transform: none;
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

li .show{
  opacity: 1;
  transform: none;
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.show li{
opacity: 1;
transform: none;
transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}



.swing {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}*/



/*.show img {
  opacity: 1;
  transform: rotateY(-90deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}*/

/* Animation css*/
