
h1 {
  font-family: 'Suez One', serif;
  font-color: #AA6C39;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}


.slot_machine {
  display: flex;
  justify-content: center;
  width: 690px;
  height: 335px;
  background-image: url("../assets/slot-machine.png");
  margin: 0 auto;
  border: #D39639 solid 10px;
  border-radius: 20px;

}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
select:focus {
  outline: 0;
  outline-color: none;
}
select {
  background-color: inherit;
  border: none;
  color: white;
  text-shadow: 2px 2px 8px black;
  font-family: fantasy;
  font-size: 18px;
  outline: 0;
  overflow: hidden;
  padding: 5px;
}

textarea {
  outline: 0;
  box-shadow: none;
}

option {
  text-align: center;
  border: none;
  outline: 0;
}

option:focus {
  outline: none;
}


li {
  display: flex;
  justify-content: space-around;
   /*text-align: center;*/
}

.submit_button {
  margin: 0 auto;
  width: 20%;
  padding-top: .7em;
}

.slot {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;
}

.slot3 {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;
  margin-right: 1em;
}

.slot_title {
  color: black;
  font-size: 40;
  font-weight: bolder;
  font-family: fantasy;
  padding: 1em 1em 1em 0;
}

.slot_styling {
  color: black;
  font-size: 40;
  font-weight: bold;
  font-family: fantasy;
  padding: 1em 1em 5% 0;
}

.img_slot_styling {
  padding: 1em 1em 1em 0;
  display: flex;
  justify-content: center;
}

.placeholder_styling {
  /*padding: 1em 1em 1em 0;*/
  display: flex;
  justify-content: center;
}

.results_styling {
  /*padding: 1em 1em 1em 0;*/
  display: flex;
  justify-content: center;
  padding-bottom: 7.5em;
  padding-right: .5em;
}

fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;

}

#slot1 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}

#slot2 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}

#slot3 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}

#button_holder {
  display: flex;
  justify-content: center;
}

/*#beer_button {
  background: url("../assets/BeerTap_Active_nbg.png") no-repeat;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 225px;
  height: 82px;
  border: none;
  margin-top: .2em;
  margin-left: 3.3em;
}*/

#playAgain_button {
  visibility: hidden;
  border: none;
}

.showPlayAgainButton {
  /*background: url("../assets/gold_button.png") no-repeat;*/
  text-decoration: none;
  border: none;
  /*width: 120px;
  height: 112px;*/02173A
  background: #db9937;
  z-index: 10000000;
  background-image: -webkit-linear-gradient(top, #db9937, #02173A);
  background-image: -moz-linear-gradient(top, #db9937, #02173A);
  background-image: -ms-linear-gradient(top, #db9937, #02173A);
  background-image: -o-linear-gradient(top, #db9937, #02173A);
  background-image: linear-gradient(to bottom, #db9937, #02173A);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #666666;
  font-family: fantasy;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 3px 15px 3px;
}

.showPlayAgainButton:active {
  border: none;
  background: #02173A;
  text-decoration: none;
  font-weight: bold;
}

.showPlayAgainButton:hover {
  background: #02173A;
  text-decoration: none;
  border: none;
}

#beer_button {
  visibility: hidden;
  /*background: url("../assets/BeerTap_Active_nbg.png");
  width: 225px;
  height: 82px;*/
  background: url("../assets/button2.png");
  width: 137px;
  height: 128px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: none;
  margin-top: .2em;
  margin-left: 5em;
  text-decoration: none;
  opacity: .7;
}

#beer_button:hover {
  opacity: 1;
  border: none;
  outline: none;
}

#beer_button:focus{
  outline: none;
  opacity: .7;
  border: none;
}

#beer_button:active{
  opacity: .7;
  outline: none;
  border: none;
}
/*
#p_type {
  text-align: center;
  padding-left: .5em;
}*/

/* Animation css*/

.swing {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.show {
  opacity: 1;
  transform: rotateY(-180deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.show_result {
  opacity: 1;
  transform: rotateY(360deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.blink {
  font-size: 22px;
  padding-top: 0px;
  /*-webkit-animation:colorchange 20s infinite
  alternate;*/
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

/*Changing color of result name:*/

/*@-webkit-keyframes colorchange {
  0% {

    color: blue;
  }

  10% {

    color: #8e44ad;
  }

  20% {

    color: #1abc9c;
  }

  30% {

    color: #d35400;
  }

  40% {

    color: blue;
  }

  50% {

    color: #34495e;
  }

  60% {

    color: blue;
  }

  70% {

    color: #2980b9;
  }
  80% {

    color: #f1c40f;
  }

  90% {

    color: #2980b9;
  }

  100% {

    color: pink;
  }
}*/
