
h1 {
  font-family: 'Suez One', serif;
  font-color: #AA6C39;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}


.slot_machine {
  display: flex;
  justify-content: center;
  width: 690px;
  height: 335px;
  background-image: url("../assets/slot-machine.png");
  margin: 0 auto;
  border: #D39639 solid 10px;
  border-radius: 20px;

}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

select {
  background-color: inherit;
  border: none;
  color: white;
  text-shadow: 2px 2px 8px black;
  font-family: fantasy;
  font-size: 18px;
}

option {
  text-align: center;
}

li {
  display: flex;
  justify-content: space-around;
   /*text-align: center;*/
}

.submit_button {
  margin: 0 auto;
  width: 20%;
  padding-top: .7em;
}

.slot {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;
}

.slot3 {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;
  margin-right: 1em;
}

.slot_title {
  color: black;
  font-size: 40;
  font-weight: bolder;
  font-family: fantasy;
  padding: 1em 1em 1em 0;
}

.slot_styling {
  color: black;
  font-size: 40;
  font-weight: bold;
  font-family: fantasy;
  padding: 1em 1em 5% 0;
}

.img_slot_styling {
  padding: 1em 1em 1em 0;
  display: flex;
  justify-content: center;
}

.placeholder_styling {
  /*padding: 1em 1em 1em 0;*/
  display: flex;
  justify-content: center;
}

.results_styling {
  /*padding: 1em 1em 1em 0;*/
  display: flex;
  justify-content: center;
  padding-bottom: 6em;
  padding-right: 1em;

}


/*Beer button:*/
input {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: none;
  margin-top: .2em;
  margin-left: 3.3em;
}

fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;

}

#slot1 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}

#slot2 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}

#slot3 p {
  color: #D39639;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  padding-top: 2.5em;
}


#beer_button {
  background: url("../assets/button.png") no-repeat;
  text-decoration: none;
}

#beer_button:focus{
  outline: none;

}

#beer_button:active{
  width: 200px;
}


/* Animation css*/

.swing {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.show {
  opacity: 1;
  transform: rotateY(-180deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.show_result {
  opacity: 1;
  transform: rotateY(360deg);
  transition: all 1.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.blink {
  font-size: 22px;
  padding-top: 0px;
  /*-webkit-animation:colorchange 20s infinite
  alternate;*/
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

/*Changing color of result name:*/

/*@-webkit-keyframes colorchange {
  0% {

    color: blue;
  }

  10% {

    color: #8e44ad;
  }

  20% {

    color: #1abc9c;
  }

  30% {

    color: #d35400;
  }

  40% {

    color: blue;
  }

  50% {

    color: #34495e;
  }

  60% {

    color: blue;
  }

  70% {

    color: #2980b9;
  }
  80% {

    color: #f1c40f;
  }

  90% {

    color: #2980b9;
  }

  100% {

    color: pink;
  }
}*/
