
h1 {
  font-family: 'Suez One', serif;
  font-color: #AA6C39;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

/*input {
  color: white;
}*/

.slot_machine {
  display: flex;
  justify-content: center;
  margin: 1em;
}

form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.submit_button {
  margin: 0 auto;
  width: 20%;
  padding-top: .7em;
}

#newUl {
  display: flex;
  justify-content: center;
  list-style: none;
}

#type_slot {
  color: black;
  font-size: 40;
  font-weight: bold;
  font-family: fantasy;
  padding: 6em 2em 5em 1em;

}

input {
  border-radius: 5px;
}

 p {
  color: white;
}


fieldset {
  background-color: grey;
  border-radius: 10px;
}
